.clickable-slot {
  cursor: pointer;
  min-width: 150px;
  max-width: 250px;
  transition: background-color 0.3s ease;
}

.clickable-slot.selected {
  background-color: #d3d3d3;
}

.clickable-slot.free {
  background-color: #3ea880;
}

.clickable-slot.booked {
  background-color: rgba(216, 47, 47, 0.904);
  color: black;
}

.clickable-slot:hover:not(.selected) {
  background-color: #f0f0f0;
}

.clickable-slot:active {
  background-color: #dcdcdc;
}

.selected-item {
  font-weight: bold;
  color: black;
}

.custom-select-sm {
  width: 30%;
}
