<div *ngIf="room" class="card m-4" style="width: 18rem;">
  <div class="card-body" style="height: 20rem;">
    <h5 class="card-title">{{room.name}}</h5>
    <hr class="my-2"> <!-- Slim and nice line -->
    <h6 class="card-subtitle mb-2 text-body-secondary">{{room.capacity}} capacity</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{room.floor}} floor</h6>
    <p class="card-text">{{room.description}}</p>
    <button type="button" class="btn btn-dark mb-2" (click)="bookRoom(room._id)">Book</button>
  </div>
</div>
